<table class="table">
    <caption>For each row, select the option that best suits that feature</caption>
    <tbody>
    <tr>
        <th></th>
        <th>Absent</th>
        <th>rare</th>
        <th>Common</th>
        <th>Abundant</th>
        <th>Additional Comments</th>
    </tr>

    <tr>
        <td>Clay</td>
        <text></text>
        <td><input type="radio" name="r1" id="clayAbsent" class=""></td>
        <td><input type="radio" name="r1" id="clayRare" class=""></td>
        <td><input type="radio" name="r1" id="clayCommon" class=""></td>
        <td><input type="radio" name="r1" id="clayAbundant" class=""></td>
        <td><textarea id="clayComments" class="form-control" name=""></textarea></td>
    </tr>

    <tr>
        <text class="">Mud</text>
        <td><input type="radio" name="r2" id="mudAbsent" class=""></td>
        <td><input type="radio" name="r2" id="mudRare" class=""></td>
        <td><input type="radio" name="r2" id="mudCommon" class=""></td>
        <td><input type="radio" name="r2" id="mudAbundant" class=""></td>
        <td><textarea id="mudComments" class="form-control" name=""></textarea></td>
    </tr>

    <tr>
        <text class="">Sand</text>
        <td><input type="radio" name="r3" id="sandAbsent" class=""></td>
        <td><input type="radio" name="r3" id="sandRare" class=""></td>
        <td><input type="radio" name="r3" id="sandCommon" class=""></td>
        <td><input type="radio" name="r3" id="sandAbundant" class=""></td>
        <td><textarea id="sandComments" class="form-control" name=""></textarea></td>
    </tr>

    <tr>
        <text class="">Gravel</text>
        <td><input type="radio" name="r4" id="gravelAbsent" class=""></td>
        <td><input type="radio" name="r4" id="gravelRare" class=""></td>
        <td><input type="radio" name="r4" id="gravelCommon" class=""></td>
        <td><input type="radio" name="r4" id="gravelAbundant" class=""></td>
        <td><textarea id="gravelComments" class="form-control" name=""></textarea></td>
    </tr>

    <tr>
        <text class="">Pebbles</text>
        <td><input type="radio" name="r5" id="pebblesAbsent" class=""></td>
        <td><input type="radio" name="r5" id="pebblesRare" class=""></td>
        <td><input type="radio" name="r5" id="pebblesCommon" class=""></td>
        <td><input type="radio" name="r5" id="pebblesAbundant" class=""></td>
        <td><textarea id="pebblesComments" class="form-control" name=""></textarea></td>
    </tr>

    <tr>
        <text class="">Dead Clam</text>
        <td><input type="radio" name="r6" id="bivalveAbsent" class=""></td>
        <td><input type="radio" name="r6" id="bivalveRare" class=""></td>
        <td><input type="radio" name="r6" id="bivalveCommon" class=""></td>
        <td><input type="radio" name="r6" id="bivalveAbundant" class=""></td>
        <td><textarea id="bivalveComments" class="form-control" name=""></textarea></td>
    </tr>

    <tr>
        <text class="">Dead Snail</text>
        <td><input type="radio" name="r7" id="snailAbsent" class=""></td>
        <td><input type="radio" name="r7" id="snailRare" class=""></td>
        <td><input type="radio" name="r7" id="snailCommon" class=""></td>
        <td><input type="radio" name="r7" id="snailAbundant" class=""></td>
        <td><textarea id="snailComments" class="form-control" name=""></textarea></td>
    </tr>

    <tr>
        <text class="">Macroinverts</text>
        <td><input type="radio" name="r8" id="macroinvertsAbsent" class=""></td>
        <td><input type="radio" name="r8" id="macroinvertsRare" class=""></td>
        <td><input type="radio" name="r8" id="macroinvertsCommon" class=""></td>
        <td><input type="radio" name="r8" id="macroinvertsAbundant" class=""></td>
        <td><textarea id="macroinvertsComments" class="form-control" name=""></textarea></td>
    </tr>

    <tr>
        <text class="">Coal</text>
        <td><input type="radio" name="r9" id="coalAbsent" class=""></td>
        <td><input type="radio" name="r9" id="coalRare" class=""></td>
        <td><input type="radio" name="r9" id="coalCommon" class=""></td>
        <td><input type="radio" name="r9" id="coalAbundant" class=""></td>
        <td><textarea id="coalComments" class="form-control" name=""></textarea></td>
    </tr>

    <tr>
        <text class="">Plant Material</text>
        <td><input type="radio" name="r10" id="plantAbsent" class=""></td>
        <td><input type="radio" name="r10" id="plantRare" class=""></td>
        <td><input type="radio" name="r10" id="plantCommon" class=""></td>
        <td><input type="radio" name="r10" id="plantAbundant" class=""></td>
        <td><textarea id="plantComments" class="form-control" name=""></textarea></td>
    </tr>
    </tbody>
</table>