<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <script src='../public/javascript/jquery.min.js'></script>
    <script src='../public/javascript/bootstrap.min.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<% links.forEach(function(link) { var hLink = 'data/' + link.id %>
<a href=<%- hLink %>><%= link.id %></a><br />
<% }) %>
<br />
</body>
</html>
