<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <% include top %>
    <article class="container">
      <form>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="groupOne">
            Enable Group One
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="groupTwo">
            Enable Group Two
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="groupThree">
            Enable Group Three
          </label>
        </div>
      </form>
    </article>

    <script>
    var socket = io();
    $(document).ready(function(){

      var formConfig = {
        "groupOne": {"enabled": false},
        "groupTwo": {"enabled": false},
        "groupThree": {"enabled": false},
      };

      $( "input[type='checkbox']" ).on( "checkbox:toggle", function( event ) {
        var checkbox = $( this );
          switch(checkbox.attr('name')){
            case "groupOne":
            if ( checkbox.is( ":checked" ) ) {
              formConfig.groupOne.enabled = true;
            } else if ( checkbox.is( ":checked" ) ){
              formConfig.groupOne.enabled = false;
            }
            console.log(formConfig);
            break;
            case "groupTwo":
            if ( checkbox.is( ":checked" ) ) {
              formConfig.groupTwo.enabled = true;
            } else if ( !checkbox.is( ":checked" ) ){
              formConfig.groupTwo.enabled = false;
            }
            console.log(formConfig);
            break;
            case "groupThree":
            if ( checkbox.is( ":checked" ) ) {
              formConfig.groupThree.enabled = true;
            } else if ( !checkbox.is( ":checked" ) ){
              formConfig.groupThree.enabled = false;
            }
            console.log(formConfig);
            break;
          }
            socket.emit('config', JSON.stringify(formConfig));
            console.log("Connected!");

        });
      $("input[type='checkbox']").change(function(){
        $( this ).trigger('checkbox:toggle');
      });

    });

    </script>
  </body>
</html>
