<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Flow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--<link rel="import" href="head.inc.html">-->
    <!-- Include jQuery -->
    <script src="./javascript/jquery.min.js"></script>

    <!-- ~Bootstrap~ -->
    <script src="./bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css"/>

    <!-- Web Components(Required for Polymer) -->
    <script src="./elements/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <!-- All Polymer custom elements -->
    <link rel="import" href="./elements/radioactive/flag-center.html">
    <link rel="import" href="./elements/radioactive/flag-danger.html">
    <link rel="import" href="./elements/radioactive/flag-warn.html">
    <link rel="import" href="./elements/radioactive/flag-info.html">
    <link rel="import" href="./elements/radioactive/flag-win.html">
    <link rel="import" href="./elements/radioactive/flag-error.html">
    <link rel="import" href="./elements/custom-form-elements/unit-sel.html">

    <!-- Custom jQuery Plugins -->
    <script src="./javascript/plugins/pseudo-pseudo.js"></script>
    <script src="./javascript/plugins/toggleAttr.js"></script>

    <!-- Required CSS Styles -->
    <link rel="stylesheet" href="./stylesheets/foot.css">
    <link rel="stylesheet" href="./bootstrap/css/pseudo-table.css">

    <!-- Miscellaneous Custom Javascript and jQuery files -->
    <script src="./javascript/main.js"></script>
    <script src="./javascript/flag.js"></script>

    <!-- Miscellaneous Custom CSS Files -->
    <link rel="stylesheet" href="./stylesheets/main.css">
</head>
<body class="" style="">

<button id="launchModal" type="button" class="invisible" data-toggle="modal" data-target="#myModal"></button>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">What group are you in?</h4>
            </div>
            <div class="modal-body">
                <form id="setGroup" name="setGroup" class="form" action="/" method="post">
                    <div class="form-group">
                        <select id="groups" class="form-control">
                            <option value=""></option>
                            <option value="1">I'm in Group 1</option>
                            <option value="2">I'm in Group 2</option>
                            <option value="3">I'm in Group 3</option>
                            <option value="4">I'm in Group 4</option>
                            <option value="5">I'm in Group 5</option>
                            <option value="6">I'm doing every Group</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="displaySpecificGroup" name="displaySpecificGroup" form="setGroup">Continue to Lab</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -s-c -->
<script>
    $( document ).ready(function() {
        $("#displaySpecificGroup").click(function(){
            var g = $("#groups").val();
            if( g == 1 ){
                $("#g2, #g3, #g4, #g5").hide()
            }else if( g == 2 ){

            }
        });
    });
</script>

<!-- Attemp screen read implementation later with .sr-only labels -->
<section id="navContainer">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Flow</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lab Form <span class="caret"></span><span class="sr-only">(current)</span></a>
                            <ul class="dropdown-menu">
                                <a href="#g1REF"><li class="dropdown-header">Group 1 - Physical Data</li></a>
                                <li><a href="#g1FS1REF">Tide Measurement</a></li>
                                <li><a href="#g1FS2REF">Current Direction and Speed</a></li>
                                <li><a href="#g1FS3REF">Air Temperature, Clouds, and Wind</a></li>
                                <li role="separator" class="divider"></li>
                                <a href="#g2REF"><li class="dropdown-header">Group 2 - Site Description</li></a>
                                <li><a href="#g2FS1REF">Physical Description</a></li>
                                <!-- <li><a href="#g2FS2REF">Map of the Site</a></li> -->
                                <li><a href="#g2FS3REF">Sediment Samples from the River-Bottom</a></li>
                                <li role="separator" class="divider"></li>
                                <a href="#g3REF"><li class="dropdown-header">Group 3 - Biological Sampling</li></a>
                                <li><a href="#g3FS1REF">Aquatic Biology Survey</a></li>
                                <li><a href="#g3FS2REF">Habitat Association Survey</a></li>
                                <li role="separator" class="divider"></li>
                                <a href="#g4REF"><li class="dropdown-header">Group 4 - Chemical Analysis</li></a>
                                <li><a href="#g4FS1REF">Water Temperature</a></li>
                                <li><a href="#g4FS2REF">Dissolved</a></li>
                                <li><a href="#g4FS3REF">Ph</a></li>
                                <li><a href="#g4FS4REF">Salinity and Turbidity</a></li>
                                <li role="separator" class="divider"></li>
                                <a href="#g5REF"><li class="dropdown-header">Group 5 - Documentation</li></a>
                                <li><a href="#g5FS1REF">Pictures of Site</a></li>
                                <li><a href="#g5FS2REF">Team Members</a></li>
                                <li><a href="#g5FS3REF">Final Questions and Group Photo</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Help</a></li>
                    </ul>


                    <p class="navbar-text navbar-right"><%=river%> / <%=location%> / <%=site%></p>
                </div><!-- /.navbar-collapse -->

            </div><!-- /.container-fluid -->
        </div>
    </nav>
</section>


<form id="lab" action="/submit" method="post" class="form container panel" name="mainForm">

    <div id="g1REF" class="ref"></div>
    <section class="container g1" id="g1">
        <h1>Physical Data</h1>
        <!-- Change ID nomenclature from Lexical to Ordinal? gunna do it because it makes it easier -->
        <div id="g1FS1REF" class="ref"></div>
        <fieldset id="g1FS1" class="g1 FS1 container">
            <h2>Tide Measurement</h2>



            <div class="container">
                <div class="pseudo-table">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                Time
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                Vertical tide change
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                Rising, Falling, or unchanged
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                0 minutes
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <input required="" id="tideChangeAtTime0" class="form-control" name="tideChangeAtTime0" type="text" max="30" min="0" placeholder="0">
                                    <div class="input-group-addon">
                                        <unit-sel></unit-sel>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input required="" list="tideTableOptions" class="form-control" id="tideIsRFUAtTime0" name="tideIsRFUAtTime0">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                10
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <input required="" id="tideChangeAtTime10" class="form-control" name="tideChangeAtTime10" type="text" max="30" min="0" placeholder="0">
                                    <div class="input-group-addon">
                                        <unit-sel set="metric"></unit-sel>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input required="" list="tideTableOptions" name="tideIsRFUAtTime10" id="tideIsRFUAtTime10" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                20 minutes
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <input required="" id="tideChangeAtTime20" class="form-control" name="tideChangeAtTime20" type="text" max="30" min="0" placeholder="0">
                                    <div class="input-group-addon">
                                        <unit-sel set="metric"></unit-sel>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input required="" list="tideTableOptions" name="tideIsRFUAtTime20" id="tideIsRFUAtTime20" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                30 minutes
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <input required="" id="tideChangeAtTime30" class="form-control" name="tideChangeAtTime30" type="text" max="30" min="0" placeholder="0">
                                    <div class="input-group-addon">
                                        <unit-sel set="metric"></unit-sel>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input required="" list="tideTableOptions" name="tideIsRFUAtTime30" id="tideIsRFUAtTime30" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>

        <div id="g1FS2REF" class="ref"></div>
        <fieldset id="g1FS2" class="container">
            <h2>Current Direction and Speed</h2>

            <div id="" class="hidden form-group">
                <label for="" class="">Water Current Direction</label>
                <input list="cardinalDirectionsSimple" name="waterCurrentDirection" placeholder="" id="waterCurrentDirection" class="form-control">
            </div>
            <div id="" class="form-group">
                <label for="" class="">Type of Object used</label>
                <input type="text" name="waterCurrentMeasurementObject" placeholder="" id="waterCurrentMeasurementObject" class="form-control">
            </div>

            <label for="" class="">Fill Out the following table with your data </label>
            <div id="" class="table-responsive">

                <table id="waterCurrentTable" class="table table-condensed">
                    <thead>
                    <tr id="" class="">
                        <th id="" class=""></th>
                        <th id="" class="">Location</th>
                        <th id="" class="">Starting Time</th>
                        <th id="" class="">Stopping Time</th>
                        <th id="" class="">Distance Traveled</th>
                        <th id="" class="">Direction</th>
                        <th id="" class="">Current Speed(cm/sec)</th>
                        <th id="" class="">Current Speed(knots)</th>
                        <th id="" class="">Ebb, Flow, or Slack Tide</th>
                    </tr>
                    </thead>
                    <tbody id="" class="">
                    <tr id="" class="">
                        <td id="" class="">Trial 1</td>
                        <td id="" class=""><input list="generalSpecificCurrentMeasureLocations" id="tbl2R1TrialLocation" name="location1" class="form-control"></td>
                        <td id="" class=""><input required="" id="tbl2R1StartTime" class="form-control" name="startTime1" type="time" placeholder=""></td>
                        <td id="" class=""><input required="" id="tbl2R1StopTime" class="form-control" name="stopTime1" type="time" placeholder=""></td>
                        <td id="" class=""><input required="" id="tbl2R1TotalDist" class="form-control" name="distanceTraveled1" type="text" min="0" max="99" placeholder="">(units)</td>
                        <td id="" class=""><input list="cardinalDirectionsSimple" id="tbl2R1Direction" class="form-control" name="direction1"></td>
                        <td id="" class=""><input required="" id="tbl2R1CurrentSpeedCMpS" class="form-control" name="currentSpeedCmPerSec1" type="text" min="0" max="520" placeholder="">(cm/sec)</td>
                        <td id="" class=""><input required="" id="tbl2R1CurrentSpeedKnts" class="form-control" name="currentSpeedKnots1" type="text" min="0" max="520" placeholder="">(knots)</td>
                        <td id="" class=""><input list="tideTypes" id="tbl2R1EFSTide" class="form-control" name="ebbFlowSlack1"></td>
                    </tr>

                    <tr id="" class="">
                        <td id="" class="">Trial 2</td>
                        <td id="" class=""><input list="generalSpecificCurrentMeasureLocations" id="tbl2R2TrialLocation" name="location2" class="form-control"></td>
                        <td id="" class=""><input required="" id="tbl2R2StartTime" class="form-control" name="startTime2" type="time" placeholder=""></td>
                        <td id="" class=""><input required="" id="tbl2R2StopTime" class="form-control" name="stopTime2" type="time" placeholder=""></td>
                        <td id="" class=""><input required="" id="tbl2R2TotalDist" class="form-control" name="distanceTraveled2" type="text" min="0" max="99" placeholder="">(units)</td>
                        <td id="" class=""><input list="cardinalDirectionsSimple" id="tbl2R2Direction" class="form-control" name="direction2"></td>
                        <td id="" class=""><input required="" id="tbl2R2CurrentSpeedCMpS" class="form-control" name="currentSpeedCmPerSec2" type="text" min="0" max="520" placeholder="">(cm/sec)</td>
                        <td id="" class=""><input required="" id="tbl2R2CurrentSpeedKnts" class="form-control" name="currentSpeedKnots2" type="text" min="0" max="520" placeholder="">(knots)</td>
                        <td id="" class=""><input list="tideTypes" id="tbl2R2EFSTide" class="form-control" name="ebbFlowSlack2"></td>
                    </tr>

                    <tr id="tbl2R" class="">
                        <td id="" class="">Trial 3</td>
                        <td id="" class=""><input list="generalSpecificCurrentMeasureLocations" id="tbl2R3TrialLocation" name="location3" class="form-control"></td>
                        <td id="" class=""><input required="" id="tbl2R3StartTime" class="form-control" name="startTime3" type="time" placeholder=""></td>
                        <td id="" class=""><input required="" id="tbl2R3StopTime" class="form-control" name="stopTime3" type="time" placeholder=""></td>
                        <td id="" class=""><input required="" id="tbl2R3TotalDist" class="form-control" name="distanceTraveled3" type="text" min="0" max="99" placeholder="">(units)</td>
                        <td id="" class=""><input list="cardinalDirectionsSimple" id="tbl2R3Direction" class="form-control" name="direction3"></td>
                        <td id="" class=""><input required="" id="tbl2R3CurrentSpeedCMpS" class="form-control" name="currentSpeedCmPerSec3" type="text" min="0" max="520" placeholder="">(cm/sec)</td>
                        <td id="" class=""><input required="" id="tbl2R3CurrentSpeedKnts" class="form-control" name="currentSpeedKnots3" type="text" min="0" max="520" placeholder="">(knots)</td>
                        <td id="" class=""><input list="tideTypes" id="tbl2R3EFSTide" class="form-control" name="ebbFlowSlack3"></td>
                    </tr>

                    <tr id="" class="">
                        <td id="" class="">Average</td>
                        <td id="" class="disabled"></td>
                        <td id="" class="disabled"></td>
                        <td id="" class="disabled"></td>
                        <td id="" class="disabled"></td>
                        <td id="" class="disabled"></td>
                        <td id="" class=""><input required="" id="tbl2R4CurrentSpeedCMpSAvg" class="form-control" name="tbl2R4CurrentSpeedCMpSAvg" type="text" min="0" max="520" placeholder="">(cm/sec)</td>
                        <td id="" class=""><input required="" id="tbl2R4CurrentSpeedKntsAvg" class="form-control" name="tbl2R4CurrentSpeedKntsAvg" type="text" min="0" max="520" placeholder="">(knots)</td>
                        <td id="" class="disabled"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="" class="form-group">
                <label for="" class="">Current Speed(m/sec)</label>

                <div class="input-group">
                    <input type="number" name="waterCurrentSpeed" placeholder="" id="waterCurrentSpeed" class="form-control">
                    <div class="input-group-addon">
                        m/sec
                    </div>
                </div>
            </div>

        </fieldset>

        <div id="g1FS3REF" class="ref"></div>
        <fieldset id="g1FS3" class="container">
            <h2>Air Temperature, Clouds and Wind</h2>

            <div id="g1AtmosphericMeasurementFieldsetAirTempDataTable" class="table-responsive">
                <table id="tbl3" class="table-collapsed">
                    <thead id="" class="">
                    <tr id="" class="">
                        <th id="" class="">Time</th>
                        <th id="" class="">Air Temp(F)</th>
                        <th id="" class="">Air Temp(C)</th>
                    </tr>
                    </thead>

                    <tbody id="" class="">
                    <tr id="" class="">
                        <td id="" class="">
                            <input required="" id="tbl3R1Time" class="form-control" name="time1" type="time" placeholder="">
                        </td>
                        <td id="" class="">
                            <div class="input-group">
                                <input required="" id="tbl3R1F" class="form-control" name="tempF1" type="text" min="-20" max="999" placeholder="">
                                <div class="input-group-addon">°F</div>
                            </div>
                        </td>
                        <td id="" class="">
                            <div class="input-group">
                                <input required="" id="tbl3R1C" class="form-control" name="tempC1" type="text" min="-20" max="999" placeholder="">
                                <div class="input-group-addon">°C</div>
                            </div>
                        </td>
                    </tr>
                    <tr id="" class="">
                        <td id="" class="">
                            <input required="" id="tbl3R2Time" class="form-control" name="time2" type="time" placeholder="">
                        </td>
                        <td id="" class="">
                            <div class="input-group">
                                <input required="" id="tbl3R2F" class="form-control" name="tempF2" type="text" min="-20" max="999" placeholder="">
                                <div class="input-group-addon">°F</div>
                            </div>
                        </td>
                        <td id="" class="">
                            <div class="input-group">
                                <input required="" id="tbl3R2C" class="form-control" name="tempC2" type="text" min="-20" max="999" placeholder="">
                                <div class="input-group-addon">°C</div>
                            </div>
                        </td>
                    </tr>
                    <tr id="" class="">
                        <td id="" class="">
                            <input required="" id="tbl3R3Time" class="form-control" name="time3" type="time" placeholder="">
                        </td>
                        <td id="" class="">
                            <div class="input-group">
                                <input required="" id="tbl3R3F" class="form-control" name="tempF3" type="text" min="-20" max="999" placeholder="">
                                <div class="input-group-addon">°F</div>
                            </div>
                        </td>
                        <td id="" class="">
                            <div class="input-group">
                                <input required="" id="tbl3R3C" class="form-control" name="tempC3" type="text" min="-20" max="999" placeholder="">
                                <div class="input-group-addon">°C</div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="g1AtmosphericMeasurementFieldsetCloudCoverageEstimate" class=""><!-- container possibly -->
                <h3>Estimate Cloud Coverage</h3>
                <div class="radio">
                    <label>
                        <input type="radio" name="cloudCover" placeholder="" id="" value="clear" class="">
                        Clear(0-25%)
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="cloudCover" placeholder="" id="" value="partly" class="">
                        Partly Cloudy(25-50%)
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="cloudCover" placeholder="" id="" value="mostly" class="">
                        Mostly Cloudy(50-75%)
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="cloudCover" placeholder="" id="" value="overcast" class="">
                        Overcast(75-100%)
                    </label>
                </div>
            </div>

            <div id="g1AtmosphericMeasurementFieldsetWindData" class="container">

                <div class="form-group">
                    <label>Wind Direction</label>
                    <input required="" id="windDirection" name="windDirection" class="line form-control" list="cardinalDirections" placeholder="">
                </div>
                <div class="form-group">
                    <label>Wind Speed(mph)</label>
                    <input required="" id="windSpeedMph" class="line form-control" name="windSpeedMph" type="text" min="0" max="99" placeholder="">
                </div>
                <div class="form-group">
                    <label>Wind Speed(knots)</label>
                    <input required="" id="windSpeedKnots" class="line form-control" name="windSpeedKonts" type="text" min="0" max="99" placeholder="">
                </div>
                <div class="form-group">
                    <label>Year, Month</label>
                    <input required="" id="yearMonth" class="line form-control" name="yearMonth" type="month" placeholder="">
                </div>
                <div class="form-group">
                    <label>Beaufort Description</label>
                    <input required="" id="windBeaufortScale" class="line form-control" name="windBeaufortScale" list="beaufortScaleDescriptions" placeholder="">
                </div>
            </div>


        </fieldset>

    </section>

    <div id="g2REF" class="ref"></div>
    <section class="container" id="g2">
        <h1>Site Description</h1>
        <div id="g2FS1REF" class="ref"></div>
        <fieldset id="g2FS1" class="container">
            <h2>Physical Description</h2>
            <!-- A change may occur here later, this info may not stay -->
            <div id="" class="form-group">
                <label>Latitude</label>
                <input type="text" min="40" max="99.99999" name="studentLat" placeholder="" id="studentLat" class="form-control">
            </div>
            <div id="" class="form-group">
                <label>Longitude</label>
                <input type="text" min="40" max="99.99999" name="studentLong" placeholder="" id="studentLong" class="form-control">
            </div>

            <div class="container">

                <label>Check all that apply:</label>
                <input type="hidden" value="" id="g2CheckboxArray" name="g2CheckboxArray" class="form-control">
                <div id="g2CheckboxTable" class="row">
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="isSandy" name="isSandy" value="sandy" class="">
                                Sandy
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="isBulkhead" name="isBulkhead" value="bulkhead" class="">
                                Bulkhead
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="isVegetated" name="isVegetated" value="vegetated" class="">
                                Vegetated
                            </label>
                        </div>
                    </div>
                </div>

                <div id="g2CheckboxTable" class="row">
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="isRoadEnding" name="isRoadEnding" value="roadEnding" class="">
                                Road Ending
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="isRocky" name="isRocky" value="rocky" class="">
                                Rocky
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="isPipeEnteringRiverBay" name="isPipeEnteringRiverBay" value="pipeEnteringRiverBay" class="">
                                Pipe Entering river/bay
                            </label>
                        </div>
                    </div>
                </div>

                <div id="g2CheckboxTable" class="row">
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="isGentleBeachSlope" name="isGentleBeachSlope" value="gentleBeachSlope" class="">
                                Gentle Beach Slope
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="isSteepSlope" name="isSteepSlope" value="steepSlope" class="">
                                Steep Slope
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="isPier" name="isPier" value="pier" class="">
                                Pier
                            </label>
                        </div>
                    </div>
                </div>

                <div id="g2CheckboxTable" class="row">
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="isRiprap" name="isRiprap" value="riprap" class="">
                                Riprap
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="isGarbage" name="isGarbage" value="garbage" class="">
                                Garbage
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox show">
                            <label>
                                <input type="checkbox" id="g2CheckboxTableOptOther" name="" value="" class="">
                                Other
                                <script>
                                    $("#g2CheckboxTableOptOther").click(function() {
                                        $("#g2CheckboxTableOptOtherField").toggleClass("hidden");
                                        $("#g2CheckboxTableOptOtherFieldArea").change(function(){
                                            $("#g2CheckboxTableOptOther").val($("#g2CheckboxTableOptOtherFieldArea").val());
                                        });
                                    });
                                    var array = [];
                                    $("#g2CheckboxTable input[type=checkbox]").click(function() {
                                        if($(this).is(":checked")) {

                                            //if(!$.inArray($(this).val(), array)){
                                            if(array.indexOf($(this).val()) == -1) {

                                                array.push($(this).val());
                                                $("#g2CheckboxArray").val(array);
                                            }

                                        }else{
                                            if(array.indexOf($(this).val()) > -1) {
                                                //alert("it is in the array");
                                                var index = array.indexOf($(this).val());
                                                var garbage = array.splice(index, 1);
                                                $("#g2CheckboxArray").val(array);
                                            }
                                        }
                                        for(i = 0; i<array.length;i++){
                                            if(array[i] == '' || array[i] == null){
                                                var garbage = array.splice(i);
                                            }
                                        }
                                    });
                                    $("#g2CheckboxTableOptOther").click(function(){
                                        $("#g2CheckboxTableOptOtherFieldArea").blur(function(){
                                            $("#g2CheckboxTableOptOther").click();
                                            $("#g2CheckboxTableOptOther").click();

                                        });

                                    });
                                </script>
                            </label>
                        </div>
                    </div>
                    <div id="g2CheckboxTableOptOtherField" class="hidden"><textarea id="g2CheckboxTableOptOtherFieldArea" class="form-control" name="" placeholder="Your text here..."></textarea></div>
                </div>

            </div>

            <div class="container">
                <label>The River/bay is mostly:</label>
                <div class="row">
                    <div class="col-md-1">
                        <div class="radio">
                            <label>
                                <input type="radio" name="riverBayIs" id="mostlySand" value="sand" class="">
                                Sand
                            </label>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="radio">
                            <label>
                                <input type="radio" name="riverBayIs" id="mostlyMud" value="mud" class="">
                                Mud
                            </label>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="radio">
                            <label>
                                <input type="radio" name="riverBayIs" id="mostlyRock" value="rock" class="">
                                Rock
                            </label>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="radio">
                            <label>
                                <input type="radio" name="riverBayIs" id="mostlyWeeds" value="weeds" class="">
                                Weeds
                            </label>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="radio">
                            <label>
                                <input type="radio" name="riverBayIs" id="mostlyUD" value="indeterminable" class="">
                                Unable to be Determined
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <label>What percent of the <em>bottom</em> of the river is vegetation</label>
                <div class="row">
                    <div class="col-md-1">
                        <div class="radio">
                            <label>
                                <input type="radio" name="vegBottomPercent" id="" value="0to25" class="">
                                0-25%
                            </label>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="radio">
                            <label>
                                <input type="radio" name="vegBottomPercent" id="" value="25to50" class="">
                                25-50%
                            </label>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="radio">
                            <label>
                                <input type="radio" name="vegBottomPercent" id="" value="50to75" class="">
                                50-75%
                            </label>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="radio">
                            <label>
                                <input type="radio" name="vegBottomPercent" id="" value="75to100" class="">
                                75-100%
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <label>What percent of the <em>surface</em> of the river is vegetation</label>
                <div class="row">
                    <div class="col-md-1">
                        <div class="radio">
                            <label>
                                <input type="radio" name="vegSurfacePercent" id="" value="0to25" class="">
                                0-25%
                            </label>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="radio">
                            <label>
                                <input type="radio" name="vegSurfacePercent" id="" value="25to50" class="">
                                25-50%
                            </label>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="radio">
                            <label>
                                <input type="radio" name="vegSurfacePercent" id="" value="50to75" class="">
                                50-75%
                            </label>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="radio">
                            <label>
                                <input type="radio" name="vegSurfacePercent" id="" value="75to100" class="">
                                75-100%
                            </label>
                        </div>
                    </div>


                </div>
            </div>

        </fieldset>

        <div id="g2FS2REF" class="ref"></div>
        <fieldset id="g2FS2" class="container">
            <h2>Map of the Site</h2>

            <div id="" class="form-group">
                <label for="" class="">Upload a picture of your sketch of a map of the site</label>
                <input type="file" name="mapSketch" placeholder="" id="mapSketch" class="form-control">
            </div>
        </fieldset>

        <div id="g2FS3REF" class="ref"></div>
        <fieldset id="g2FS3" class="container">
            <h2>Sediment Samples from the shore and bottom of the river</h2>

            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div id="" class="form-group">
                            <label>Upload a picture of the detailed sketch of your sample</label>
                            <input type="file" name="" placeholder="" id="sedimentSampleSketch" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div id="" class="form-group">
                            <label>Upload a picture of your sediment sample</label>
                            <input type="file" name="" placeholder="" id="sedimentSampleReal" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div id="" class="form-group">
                            <label>Total length of sediment core</label>
                            <div class="input-group">
                                <input type="text" min="0" max="520" name="" placeholder="" id="sedimentSampleLength" class="form-control">
                                <div class="input-group-addon">
                                    test
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div id="" class="form-group">
                            <label>Total length of <em><u>oxidized</u></em> layer of core(if present)</label>
                            <div class="input-group">
                                <input type="text" min="0" max="520" name="" placeholder="" id="sedimentSampleOxicLength" class="form-control">
                                <div class="input-group-addon">
                                    test
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div id="" class="form-group">
                            <label>Total length of <em><u>anoxic</u></em> layer of core(if present)</label>
                            <div class="input-group">
                                <input type="text" min="0" max="520" name="" placeholder="" id="sedimentSampleAnoxicLength" class="form-control">
                                <div class="input-group-addon">
                                    test
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">

                        <table class="table hidden-xs hidden-sm">
                            <caption>For each row, select the option that best suits that feature</caption>
                            <tbody><tr>
                                <th></th>
                                <th>Absent</th>
                                <th>rare</th>
                                <th>Common</th>
                                <th>Abundant</th>
                                <th>Additional Comments</th>
                            </tr>

                            <tr>
                                <td>Clay</td>
                                <td> <input type="radio" name="r1" id="clayAbsent" class=""> </td>
                                <td> <input type="radio" name="r1" id="clayRare" class=""> </td>
                                <td> <input type="radio" name="r1" id="clayCommon" class=""> </td>
                                <td> <input type="radio" name="r1" id="clayAbundant" class=""> </td>
                                <td> <textarea id="clayComments" class="form-control" name=""></textarea> </td>
                            </tr>

                            <tr>
                                <td>Mud</td>
                                <td> <input type="radio" name="r2" id="mudAbsent" class=""> </td>
                                <td> <input type="radio" name="r2" id="mudRare" class=""> </td>
                                <td> <input type="radio" name="r2" id="mudCommon" class=""> </td>
                                <td> <input type="radio" name="r2" id="mudAbundant" class=""> </td>
                                <td> <textarea id="mudComments" class="form-control" name=""></textarea> </td>
                            </tr>

                            <tr>
                                <td>Sand</td>
                                <td> <input type="radio" name="r3" id="sandAbsent" class=""> </td>
                                <td> <input type="radio" name="r3" id="sandRare" class=""> </td>
                                <td> <input type="radio" name="r3" id="sandCommon" class=""> </td>
                                <td> <input type="radio" name="r3" id="sandAbundant" class=""> </td>
                                <td> <textarea id="sandComments" class="form-control" name=""></textarea> </td>
                            </tr>

                            <tr>
                                <td>Gravel</td>
                                <td> <input type="radio" name="r4" id="gravelAbsent" class=""> </td>
                                <td> <input type="radio" name="r4" id="gravelRare" class=""> </td>
                                <td> <input type="radio" name="r4" id="gravelCommon" class=""> </td>
                                <td> <input type="radio" name="r4" id="gravelAbundant" class=""> </td>
                                <td> <textarea id="gravelComments" class="form-control" name=""></textarea> </td>
                            </tr>

                            <tr>
                                <td>Pebbles</td>
                                <td> <input type="radio" name="r5" id="pebblesAbsent" class=""> </td>
                                <td> <input type="radio" name="r5" id="pebblesRare" class=""> </td>
                                <td> <input type="radio" name="r5" id="pebblesCommon" class=""> </td>
                                <td> <input type="radio" name="r5" id="pebblesAbundant" class=""> </td>
                                <td> <textarea id="pebblesComments" class="form-control" name=""></textarea> </td>
                            </tr>

                            <tr>
                                <td>Dead Clam</td>
                                <td> <input type="radio" name="r6" id="bivalveAbsent" class=""> </td>
                                <td> <input type="radio" name="r6" id="bivalveRare" class=""> </td>
                                <td> <input type="radio" name="r6" id="bivalveCommon" class=""> </td>
                                <td> <input type="radio" name="r6" id="bivalveAbundant" class=""> </td>
                                <td> <textarea id="bivalveComments" class="form-control" name=""></textarea> </td>
                            </tr>

                            <tr>
                                <td>Dead Snail</td>
                                <td> <input type="radio" name="r7" id="snailAbsent" class=""> </td>
                                <td> <input type="radio" name="r7" id="snailRare" class=""> </td>
                                <td> <input type="radio" name="r7" id="snailCommon" class=""> </td>
                                <td> <input type="radio" name="r7" id="snailAbundant" class=""> </td>
                                <td> <textarea id="snailComments" class="form-control" name=""></textarea> </td>
                            </tr>

                            <tr>
                                <td>Macroinverts</td>
                                <td> <input type="radio" name="r8" id="macroinvertsAbsent" class=""> </td>
                                <td> <input type="radio" name="r8" id="macroinvertsRare" class=""> </td>
                                <td> <input type="radio" name="r8" id="macroinvertsCommon" class=""> </td>
                                <td> <input type="radio" name="r8" id="macroinvertsAbundant" class=""> </td>
                                <td> <textarea id="macroinvertsComments" class="form-control" name=""></textarea> </td>
                            </tr>

                            <tr>
                                <td>Coal</td>
                                <td> <input type="radio" name="r9" id="coalAbsent" class=""> </td>
                                <td> <input type="radio" name="r9" id="coalRare" class=""> </td>
                                <td> <input type="radio" name="r9" id="coalCommon" class=""> </td>
                                <td> <input type="radio" name="r9" id="coalAbundant" class=""> </td>
                                <td> <textarea id="coalComments" class="form-control" name=""></textarea> </td>
                            </tr>

                            <tr>
                                <td>Plant Material</td>
                                <td> <input type="radio" name="r10" id="plantAbsent" class=""> </td>
                                <td> <input type="radio" name="r10" id="plantRare" class=""> </td>
                                <td> <input type="radio" name="r10" id="plantCommon" class=""> </td>
                                <td> <input type="radio" name="r10" id="plantAbundant" class=""> </td>
                                <td> <textarea id="plantComments" class="form-control" name=""></textarea> </td>
                            </tr>
                            </tbody></table>

                    </div>
                </div>
                <!-- Add bootstrap grid-based table here for mobile-friendly version of the above table -->
            </div>
        </fieldset>

    </section>

    <div id="g3REF" class="ref"></div>
    <section class="container" id="g3">
        <h1 class="">Biological Sampling</h1>

        <div id="g3FS1REF" class="ref"></div>
        <fieldset id="g3FS1" class="container">
            <h2>Aquatic Biology Survey</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Names of those using the net</label>
                            <textarea id="netNames" name="" class="form-control" title="Seperate by commas"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="well container">
                <div class="container-fluid">
                    <!-- Possibly include a few extra rows here for mesh size and net width -->
                    <div class="row">
                        <div class="col-md-1">
                            <b>Method #(mnum)</b>
                        </div>

                        <div class="col-md-3">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label>Choose the type of net you are using</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio" id="netMethodTypeSiene" class="" value="siene" checked="">
                                            Siene
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio" id="netMethodTypeDip" class="" value="dip">
                                            Dip
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio" id="netMethodTypeCrab" class="" value="crab">
                                            Crab
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio" id="netMethodTypeOptionOther" class="">
                                            Other
                                        </label>
                                    </div>
                                </div>
                                <div id="otherDiv" class="form-group hidden">
                                    <input type="text" class="form-control-lean form-control" id="netMethodTypeOptionOtherField" name="" placeholder="Other...">
                                </div>
                                <script>
                                    $("#netMethodTypeOptionOther").click(function() {
                                        $("#otherDiv").removeClass("hidden");
                                    });
                                    $("#netMethodTypeSiene, #netMethodTypeDip, #netMethodTypeCrab").click(function() {
                                        $("#otherDiv").addClass("hidden");
                                    });
                                    $( document ).ready(function() {
                                        $('#netMethodTypeOptionOtherField').keyup(function() {
                                            $('#netMethodTypeOptionOther').val($(this).val());
                                        });
                                    });
                                    //Radio click event definition
                                    $('input[type=radio], [name=radio]').on('radio', function(){
                                        if( $( this ).attr('id') == "netMethodTypeDip" ){
                                            $('#netLength, #netWidth, #netMeshSize').attr('readonly', 'true');
                                            $('#netLength, #netWidth, #netMeshSize').removeAttr('required');
                                        }else{
                                            $('#netLength, #netWidth, #netMeshSize').removeAttr('readonly');
                                            $('#netLength, #netWidth, #netMeshSize').attr('required', '');
                                        }
                                    });
                                    //Trigger the event
                                    $('input[type=radio]').click(function(){$( this ).trigger('radio')});

                                </script>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Net Length</label>
                                <div class="input-group">
                                    <input type="text" min="0" max="999" id="netLength" class="form-control" name="netLength" placeholder="">
                                    <div class="input-group-addon">test</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Net Width</label>
                                <div class="input-group">
                                    <input type="text" min="0" max="999" id="netWidth" class="form-control" name="netWidth" placeholder="">
                                    <div class="input-group-addon">test</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Net Mesh Size</label>
                                <div class="input-group">
                                    <input type="text" min="0" max="999" id="netMeshSize" class="form-control" name="netMeshSize" placeholder="">
                                    <div class="input-group-addon">test</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Length of pull</label>
                                <div class="input-group">
                                    <!-- Possibly Time, or Distance -->
                                    <input type="text" min="0" max="9999" id="pullLength" class="form-control" name="pullLength" placeholder="">
                                    <div class="input-group-addon">test</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="pseudo-table">
                        <!-- ~START Pseudo Table START~ -->
                        <div class="row">
                            <div class="col-lg-1 bold">
                                <!-- Empty Cell -->
                                <div class="visible-sm-block">
                                    Row Number
                                </div>
                            </div>
                            <div class="col-lg-3 bold">
                                Organism Name
                            </div>
                            <div class="col-lg-2 bold">
                                Total number of organisms
                            </div>
                            <div class="col-lg-2 bold">
                                Size of largest organism
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-1">
                                Example
                            </div>
                            <div class="col-lg-3">
                                <input type="text" value="Blue Crab(2 males)" class="form-control" readonly="">
                            </div>
                            <div class="col-lg-2">
                                <input type="text" value="2" class="form-control" readonly="">
                            </div>
                            <div class="col-lg-2">

                                <div class="input-group">
                                    <input type="" class="form-control" value="8.5" readonly="">
                                    <div class="input-group-addon">
                                        test
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-1">
                                1
                            </div>
                            <div class="col-lg-3">
                                <input type="text" id="Nom" name="" class="form-control" placeholder="Blue Crab(2 males)">
                            </div>
                            <div class="col-lg-2">
                                <input type="text" id="Total" name="" class="form-control" placeholder="2">
                            </div>
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <input type="number" id="SizeOfLargest" name="" class="form-control" placeholder="">
                                    <div class="input-group-addon">
                                        test
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Comments</label>
                                <textarea id="" name="" class="form-control"></textarea>
                            </div>
                        </div>

                    </div>
                    <!-- ~END Pseudo Table END~ -->
                </div>
            </div>

            <div class="container">
                <div class="">

                    <div class="form-group hidden">
                        <label class="col-sm-2 control-label">How many extra methods are there?</label>
                        <div class="col-sm-5">
                            <input type="text" min="0" max="1" step="1" name="" id="selectMethodChartGenerator" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="pull-left">
                            <button type="button" class="btn btn-default" id="addNewMethodChartsN">Add Another Method</button>
                        </div>
                    </div>


                    <script>
                        var clicks = 0;
                        $("#addNewMethodChartsN").click(function() {
                            clicks++;
                            if(clicks < 3){
                                //var x = $('#selectMethodChartGenerator').val();
                                var x = 1;
                                var currentChildren = $("#container").children().length;
                                for(i = 0; i < x; i++){
                                    $("#initMethod").clone().appendTo("#container");
                                    $("#container div#initMethod:nth-child("+ (currentChildren + 1) +")").find("#methodNumber").text("Method #" + (currentChildren + i + 1));
                                    $("#container div:nth-child(2) , #container div:nth-child(3)").find("div.delete").removeClass("hidden").addClass("show");
                                }

                            }else{
                                $("#addNewMethodChartsN").addClass("disabled");
                            }
                        });
                        $("#suicide").click(function(e) {
                            e.preventDefault();

                            var toRemove = $("#suicide").parentsUntil();
                        });
                    </script>
                </div>
            </div>

            <h3>Aquatic Biology Survey Summary</h3>
            <div id="" class="form-group">
                <label>Collections</label><input type="text" min="0" max="64" name="" placeholder="" id="totalNumberOfCollections" class="form-control">
            </div>
            <div id="" class="form-group">
                <label>Total Individuals Counted</label><input type="text" min="0" max="999" name="" placeholder="" id="totalPopFromAllCollections" class="form-control">
            </div>

        </fieldset>

        <div id="g3FS2REF" class="ref"></div>
        <fieldset id="g3FS2" class="container">
            <h2>Habitat Association Survey</h2>

            <div id="" class="">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Location</th>
                            <th>Species</th>
                            <th>Count</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>1</td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td><!-- maybe a datalist? -->
                            <td><input type="text" min="0" max="9999" id="" class="form-control" name="" placeholder=""></td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td><!-- maybe a datalist? -->
                            <td><input type="text" min="0" max="9999" id="" class="form-control" name="" placeholder=""></td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td><!-- maybe a datalist? -->
                            <td><input type="text" min="0" max="9999" id="" class="form-control" name="" placeholder=""></td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td><!-- maybe a datalist? -->
                            <td><input type="text" min="0" max="9999" id="" class="form-control" name="" placeholder=""></td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td><!-- maybe a datalist? -->
                            <td><input type="text" min="0" max="9999" id="" class="form-control" name="" placeholder=""></td>
                        </tr>

                        <tr>
                            <td>6</td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td><!-- maybe a datalist? -->
                            <td><input type="text" min="0" max="9999" id="" class="form-control" name="" placeholder=""></td>
                        </tr>

                        <tr>
                            <td>7</td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td><!-- maybe a datalist? -->
                            <td><input type="text" min="0" max="9999" id="" class="form-control" name="" placeholder=""></td>
                        </tr>

                        <tr>
                            <td>8</td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td><!-- maybe a datalist? -->
                            <td><input type="text" min="0" max="9999" id="" class="form-control" name="" placeholder=""></td>
                        </tr>

                        <tr>
                            <td>9</td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td><!-- maybe a datalist? -->
                            <td><input type="text" min="0" max="9999" id="" class="form-control" name="" placeholder=""></td>
                        </tr>

                        <tr>
                            <td>10</td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td><!-- maybe a datalist? -->
                            <td><input type="text" min="0" max="9999" id="" class="form-control" name="" placeholder=""></td>
                        </tr>

                        <tr>
                            <td>11</td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td><!-- maybe a datalist? -->
                            <td><input type="text" min="0" max="9999" id="" class="form-control" name="" placeholder=""></td>
                        </tr>

                        <tr>
                            <td>12</td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                            <td><input type="text" id="" class="form-control" name="" placeholder=""></td><!-- maybe a datalist? -->
                            <td><input type="text" min="0" max="9999" id="" class="form-control" name="" placeholder=""></td>
                        </tr>

                        <tr>
                            <td>Description of unknown organisms</td>
                            <td colspan="3"><textarea id="" class="form-control" placeholder=""></textarea></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>

    </section></form>

<div id="g4REF" class="ref"></div>
<section class="container" id="g4">

    <h1>Chemical Analysis</h1>
    <h2>Water Temperature, Dissolved Oxygen, and pH</h2>

    <div id="g4FS1REF" class="ref"></div>
    <fieldset id="g4FS1" class="container">
        <h3>Water Temperature</h3>

        <div id="" class="table-responsive">
            <table class="table-condensed">
                <thead>
                <tr>
                    <th></th>
                    <th>Location</th>
                    <th>Time</th>
                    <th>°C</th>
                    <th>°F</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Trial 1</td>
                    <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                    <td><input type="time" id="" class="form-control" name="" placeholder=""></td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="99" id="" class="form-control form-control-lean" name="" placeholder="">
                            <div class="input-group-addon degree hidden-xs">°C</div>
                        </div>
                    </td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="99" id="" class="form-control form-control-lean" name="" placeholder="">
                            <div class="input-group-addon degree hidden-xs">°F</div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Trial 2</td>
                    <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                    <td><input type="time" id="" class="form-control" name="" placeholder=""></td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="99" id="" class="form-control form-control-lean" name="" placeholder="">
                            <div class="input-group-addon degree hidden-xs">°C</div>
                        </div>
                    </td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="99" id="" class="form-control form-control-lean" name="" placeholder="">
                            <div class="input-group-addon degree hidden-xs">°F</div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Trial 3</td>
                    <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                    <td><input type="time" id="" class="form-control" name="" placeholder=""></td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="99" id="" class="form-control form-control-lean" name="" placeholder="">
                            <div class="input-group-addon degree hidden-xs">°C</div>
                        </div>
                    </td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="99" id="" class="form-control form-control-lean" name="" placeholder="">
                            <div class="input-group-addon degree hidden-xs">°F</div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Average</td>
                    <td><input type="text" id="" class="disabled form-control" name="" placeholder="" disabled=""></td>
                    <td><input type="time" id="" class="disabled form-control" name="" placeholder="" disabled=""></td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="99" id="" class="form-control form-control-lean" name="" placeholder="">
                            <div class="input-group-addon degree hidden-xs">°C</div>
                        </div>
                    </td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="99" id="" class="form-control form-control-lean" name="" placeholder="">
                            <div class="input-group-addon degree hidden-xs">°F</div>
                        </div>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>
    </fieldset>

    <div id="g4FS2REF" class="ref"></div>
    <fieldset id="g4FS2" class="container">
        <h3>Dissolved Oxygen</h3>

        <div id="" class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Location</th>
                    <th>Time</th>
                    <th>°C</th>
                    <th>DO(mg/L or ppm)</th>
                    <th>% Saturation</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Trial 1</td>
                    <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                    <td><input type="time" id="" class="form-control" name="" placeholder=""></td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="9999" id="" class="form-control" name="" placeholder="">
                            <div class="input-group-addon">°C</div>
                        </div>
                    </td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="9999" id="" class="form-control" name="" placeholder="">
                            <div class="input-group-addon">mg/L</div>
                        </div>
                    </td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="9999" id="" class="form-control" name="" placeholder="">
                            <div class="input-group-addon">%</div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Trial 2</td>
                    <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                    <td><input type="time" id="" class="form-control" name="" placeholder=""></td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="9999" id="" class="form-control" name="" placeholder="">
                            <div class="input-group-addon">°C</div>
                        </div>
                    </td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="9999" id="" class="form-control" name="" placeholder="">
                            <div class="input-group-addon">mg/L</div>
                        </div>
                    </td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="9999" id="" class="form-control" name="" placeholder="">
                            <div class="input-group-addon">%</div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Trial 3</td>
                    <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                    <td><input type="time" id="" class="form-control" name="" placeholder=""></td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="9999" id="" class="form-control" name="" placeholder="">
                            <div class="input-group-addon">°C</div>
                        </div>
                    </td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="9999" id="" class="form-control" name="" placeholder="">
                            <div class="input-group-addon">mg/L</div>
                        </div>
                    </td>

                    <td>
                        <div class="input-group">
                            <input type="text" min="-99" max="99" id="" class="form-control" name="" placeholder="">
                            <div class="input-group-addon">%</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>

    <div id="g4FS3REF" class="ref"></div>
    <fieldset id="g4FS3" class="container">
        <h3 class="">pH</h3>

        <div id="" class="table-responsive ">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Location</th>
                    <th>Time</th>
                    <th>Reading 1</th>
                    <th>Reading 2</th>
                    <th>Reading 3</th>
                    <th>Average</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>LaMotte wQ Kit</td>
                    <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                    <td><input type="time" id="" class="form-control" name="" placeholder=""></td>
                    <td><input type="text" min="" max="" id="" class="form-control" name="" placeholder=""></td>
                    <td><input type="text" min="" max="" id="" class="form-control" name="" placeholder=""></td>
                    <td><input type="text" min="" max="" id="" class="form-control" name="" placeholder=""></td>
                    <td><input type="text" min="" max="" id="" class="form-control" name="" placeholder=""></td>
                </tr>

                <tr>
                    <td>Optional test Method</td>
                    <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                    <td><input type="time" id="" class="form-control" name="" placeholder=""></td>
                    <td><input type="text" min="" max="" id="" class="form-control" name="" placeholder=""></td>
                    <td><input type="text" min="" max="" id="" class="form-control" name="" placeholder=""></td>
                    <td><input type="text" min="" max="" id="" class="form-control" name="" placeholder=""></td>
                    <td><input type="text" min="" max="" id="" class="form-control" name="" placeholder=""></td>
                </tr>
                </tbody>
            </table>
        </div>



    </fieldset>

    <div id="g4FS4REF" class="ref"></div>
    <fieldset id="g4FS4" class="container">
        <h3>Salinity and Turbidity</h3>

        <div class="">
            <h4>Salinity</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Location</th>
                        <th>Time</th>
                        <th>Reading 1</th>
                        <th>Reading 2</th>
                        <th>Reading 3</th>
                        <th>Average</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>LaMotte wQ Kit</td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="time" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" min="" max="" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" min="" max="" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" min="" max="" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" min="" max="" id="" class="form-control" name="" placeholder=""></td>
                    </tr>

                    <tr>
                        <td>Optional test Method</td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="time" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" min="" max="" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" min="" max="" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" min="" max="" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" min="" max="" id="" class="form-control" name="" placeholder=""></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="">
            <h4>Turbidity</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Technique</th>
                        <th>Location</th>
                        <th>Time</th>
                        <th>Reading 1</th>
                        <th>Reading 2</th>
                        <th>Reading 3</th>
                        <th>Average</th>
                        <th>Units</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Secchi Disk</td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="time" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td>Ft/cm</td>
                    </tr>

                    <tr>
                        <td>Short Sight Tube</td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="time" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td>JTUs</td>
                    </tr>

                    <tr>
                        <td>Long Sight Tube</td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="time" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td>cm/meter</td>
                    </tr>

                    <tr>
                        <td>Turbidimeter</td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="time" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td><input type="text" id="" class="form-control" name="" placeholder=""></td>
                        <td>NTUs</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</section>

<div id="g5REF" class="ref"></div>
<section class="container" id="g5">

    <h1 class="">Documentation</h1>
    <!-- This form must be modular -->

    <div id="g5FS1REF" class="ref"></div>
    <fieldset id="g5FS1" class="container">
        <div class="form-group">
            <label>Please upload the Photographs you've taken on-site</label>
            <input type="file" name="" id="" multiple="" class="form-control">
            <label>Give a short Description</label>
            <textarea name="" placeholder="" id="" class="form-control"></textarea>
        </div>
    </fieldset>

    <div id="g5FS2REF" class="ref"></div>
    <fieldset id="g5FS2" class="container">
        <h2 class="">Team Members</h2>

        <div id="" class="form-group">
            <label for="" class="">Group 1(Physical Data)</label>
            <textarea id="" class="form-control"></textarea>
        </div>

        <div id="" class="form-group">
            <label for="" class="">Group 2(Site Description)</label>
            <textarea id="" class="form-control"></textarea>
        </div>

        <div id="" class="form-group">
            <label for="" class="">Group 3(Biological Sampling)</label>
            <textarea id="" class="form-control"></textarea>
        </div>

        <div id="" class="form-group">
            <label for="" class="">Group 4(Chemical Data)</label>
            <textarea id="" class="form-control"></textarea>
        </div>
    </fieldset>

    <div id="g5FS3REF" class="ref"></div>
    <fieldset id="g5FS3" class="container">
        <h2>Final Questions and Group Photo</h2>

        <div id="" class="">
            <label class="">Questions</label>
            <textarea name="" placeholder="" id="" class="form-control"></textarea>
        </div>

        <div id="" class="">
            <label class="">Upload Picture of Team</label>
            <input type="file" id="" class="form-control" name="" placeholder="">
        </div>
    </fieldset>

</section>

<div id="notificationCenter" class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <h3><u>Notifications</u></h3>
                    <ul id="flag-center" class="list-group">
                        <li class="hidden list-group-item form-flag-container">
                            <div role="alert" class="form-flag-init alert">
                                <span id="flagIcon" class="glyphicon"></span><strong class="form-flag-title"></strong>&nbsp;<span class="form-flag-text"></span>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <flag-center id="flag-center" head="Notification Center">

                        <h3 class="style-scope flag-center">Notification Center</h3>

                        <flag-danger title="Error!" class="x-scope flag-danger-0">


                            <div class="style-scope flag-danger">
                                <iron-icon icon="error" class="style-scope flag-danger x-scope iron-icon-1"><svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" class="style-scope iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope iron-icon"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" class="style-scope iron-icon"></path></g></svg>
                                </iron-icon>
                                <strong class="style-scope flag-danger">Error!</strong>
                                You made a mistake in group three
                            </div>

                        </flag-danger>

                    </flag-center>
                </li>
                <li class="list-group-item">
                    <button type="submit" class="btn btn-default btn-lg" value="Submit" id="sub">Submit</button>

                    <input class="btn btn-default form-control" type="button" id="ajax" name="ajax" value="Ajax Call">

                    <!-- Remove the auto-submit function -->
                </li>
            </ul>


        </div>
        <script>

            $("#sub").click(function() {
                $("#lab").trigger('submit');
            });
        </script>
    </div>
</div>

<!-- Nothing form related beyond this point -->

<section id="" class="hidden" hidden="">
    <!-- Only for Datalists -->
    <datalist id="cardinalDirectionsSimple" class="">
        <option id="" class="" value="North">
        </option><option id="" class="" value="South">
        </option><option id="" class="" value="East">
        </option><option id="" class="" value="West">
        </option></datalist>
    <datalist id="cardinalDirections" class="">
        <option id="" class="" value="North">
        </option><option id="" class="" value="Northeast">
        </option><option id="" class="" value="Northwest">
        </option><option id="" class="" value="South">
        </option><option id="" class="" value="SouthEast">
        </option><option id="" class="" value="SouthWest">
        </option><option id="" class="" value="East">
        </option><option id="" class="" value="West">
        </option></datalist>
    <datalist id="tideTableOptions">
        <option id="" class="" value="Rising">
        </option><option id="" class="" value="Falling">
        </option><option id="" class="" value="Unchanged">
        </option></datalist>
    <datalist id="generalSpecificCurrentMeasureLocations">
        <option id="" class="" value="Test val 1">
        </option><option id="" class="" value="test val 2">
        </option><option id="" class="" value="">
        </option><option id="" class="" value="">
        </option><option id="" class="" value="">
        </option><option id="" class="" value="">
        </option></datalist>
    <datalist id="tideTypes">
        <option id="" class="" value="Ebb Tide">
        </option><option id="" class="" value="Flood(Flow) Tide">
        </option><option id="" class="" value="Slack Tide">
        </option></datalist>
    <datalist id="beaufortScaleDescriptions">
        <option id="" class="" value="calm">
        </option><option id="" class="" value="light air">
        </option><option id="" class="" value="light breeze">
        </option><option id="" class="" value="gentle brezee">
        </option><option id="" class="" value="moderate breeze">
        </option><option id="" class="" value="fresh breeze">
        </option><option id="" class="" value="strong breeze">
        </option><option id="" class="" value="near gale">
        </option></datalist>
    <datalist id="metricMeasurements">
        <option id="" class="" value="km">
        </option><option id="" class="" value="m">
        </option><option id="" class="" value="dm">
        </option><option id="" class="" value="cm">
        </option><option id="" class="" value="mm">
        </option><option id="" class="" value="micro">
        </option><option id="" class="" value="nm">
        </option><option id="" class="" value="angstrom">
        </option></datalist>
</section>


<section id="footer" class="">
    <footer class="footer">
        <p class="footer-copy-glyph"> 2016 Flow River Project,LLC. </p>
        <p class="footer-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor tincidunt est,
            et malesuada lectus suscipit sit amet. Etiam malesuada quam sit amet purus lobortis
            eleifend. Donec eget velit vitae lorem tincidunt malesuada ac non dui. Morbi convallis,
            mi sed rutrum hendrerit, erat leo tempor magna, quis finibus purus nunc in metus.
            Praesent porttitor sed nulla eget dictum. Donec convallis enim ante, eu aliquam ante
            gravida eget. Sed rutrum nunc ut arcu pharetra aliquet. Suspendisse potenti. Nunc ac
            efficitur erat. Sed maximus tristique nulla, sit amet interdum nisl vestibulum eget.
            Integer sed tortor in enim sodales consequat ut ac massa. Vivamus nec commodo mauris.
            Pellentesque euismod quis magna sit amet tempus. Mauris sed nisi vulputate, tempus diam at,
            volutpat dolor. Donec sed tempus velit. Nunc vitae velit vel lectus mattis pulvinar.
        </p>
    </footer>
</section>

</body></html>