
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="javascript/drawer.js"></script>
  <script src="javascript/main.js"></script>
  <script src="http://momentjs.com/downloads/moment.js"></script>
  <script src="main.js"></script>
  <script src="drawer.js"></script>



  <script src="/jquery-ui/jquery-ui.js"></script>
  <link rel="stylesheet" href="/jquery-ui/jquery.min.css"/>

  <!-- ~Bootstrap~ -->
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>

  <!-- Required CSS Styles -->
  <link rel="stylesheet" href="/stylesheets/foot.css">
  <link rel="stylesheet" href="/bootstrap/css/pseudo-table.css">
  <!-- Miscellaneous Custom CSS Files -->
  <link rel="stylesheet" href="/stylesheets/beef.css">

<!-- Polymer Requisites -->
<script src="/elements/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<!-- All Polymer custom elements -->
<link rel="import" href="/elements/radioactive/flag-center.html">
<link rel="import" href="/elements/radioactive/flag-danger.html">
<link rel="import" href="/elements/radioactive/flag-warn.html">
<link rel="import" href="/elements/radioactive/flag-info.html">
<link rel="import" href="/elements/radioactive/flag-win.html">
<link rel="import" href="/elements/radioactive/flag-error.html">
<link rel="import" href="/elements/radioactive/flag-ewarn.html">
<link rel="import" href="/elements/custom-form-elements/unit-sel.html">
<link rel="import" href="/elements/bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="/elements/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/elements/bower_components/paper-button/paper-button.html">
<link rel="import" href="/elements/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/elements/bower_components/iron-icons/device-icons.html">
<link rel="import" href="/elements/bower_components/paper-fab/paper-fab.html">
<link rel="import" href="/elements/bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">

<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
