<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <% include top %>
    <article>
    <form>
        <section id="group1">
          <input type="text" id="testInputOne" name="testInputOne"/>
        </section>
        <section id="group2">
          <input type="text" id="testInputTwo" name="testInputTwo"/>
        </section>
        <section id="group3">

        </section>
        <section id="group4">

        </section>
        <section id="group5">

        </section>
    </form>
    </article>

    <script>
    var socket = io();
    socket.on('connect', function(){
      console.log("Connected!");

    });
    socket.on("config update", function(formConfig){
      console.log(JSON.parse(formConfig));
    });
    </script>
  </body>
</html>
