<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <section>
      <form action="myaction" method="post">
        <input type="text" id="test" name="test" class="" placeholder="Rasamafoo!"/>
        <input type="submit" id="submit" name="submit" class="" value="Rasamafoo!"/>
      </form>
    </section>
  </body>
</html>
